{% extends "layout.twig" %}

{%  block content %}
<div class="container">
<h2>{{ app.translator.trans(title) }}</h2>
<hr />
{% if returncode != '' %}
<div class="row">
	{% if returncode == false %}
	<p class="bg-danger">{{ app.translator.trans('couchpotato.failadd') }}</p>
	{% else %}
	<p class="bg-success">{{ returncode }} - {{ app.translator.trans('couchpotato.successfulladd') }}</p>
	{% endif %}
</div>
{% endif %}
<div class="row">
	<form>
		<div class="form-group">
			<div class="col-sm-11">
				<input type="text" name="search" class="form-control" placeholder="{{ app.translator.trans('couchpotato.searchmovie') }}" value="{{ search }}" />
			</div>
			<div class="col-sm-1">
				<input type="submit" class="btn btn-default" value="{{ app.translator.trans('site.search') }}" />
			</div>
		</div>
	</form>
</div>
{% if data['movies'] is defined %}
{% for movie in data['movies'] %}
	{% if (movie['in_library'] == false) and (movie['imdb'] is defined) %}
	<div class="row">
		<div class="col-lg-1">
			{% if movie['images']['poster'][0] is defined %}
			<img src="{{ movie['images']['poster'][0] }}" class="center-block img-responsive text-center" alt="{{ movie['original_title'] }}" />
			{% endif %}
		</div>
		<div class="col-lg-10">
			<h2><a href="http://www.imdb.com/title/{{ movie['imdb'] }}/" target="_blank">{{ movie['original_title'] }}</a></h2>
			{% if  movie['plot'] is defined %}
			{{ movie['plot'] }}
			{% endif %}
		</div>
		<div class="col-lg-1">
			{% if movie['in_wanted'] == false %}
			<a href="?add={{ movie['imdb'] }}&search={{ search }}" class="btn btn-default btn-block">{{ app.translator.trans('site.add') }}</a>
			{% else %}
			{{ app.translator.trans('couchpotato.alreadywanted') }}
			{% endif %}
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}
