{% extends "layout.twig" %}

{%  block content %}
<script type="text/javascript">
$(document).ready(function(){
    $("#filter").keyup(function(){
		var filter = $(this).val(), count = 0;
        $(".filter_list div.row").each(function(){
            if ($(this).find("h2").text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
            } else {
                $(this).show();
				count++;
            }
        });
    });
});
</script>
<div class="container">
<h2>{{ app.translator.trans(title) }}</h2>
<hr />
<div class="row">
	<form action="{{ url('list', {'provider': focus, 'func': 'addmovie'}) }}" method="get">
		<div class="form-group">
			{% if config['providers'][focus]['allowadd'] %}
			<div class="col-lg-10">
				<input class="form-control" placeholder="{{ app.translator.trans('couchpotato.searchmovie') }}" id="filter" name="search" />
			</div>
			<div class="col-lg-2">
				<input type="submit" class="form-control btn btn-default" value="{{ app.translator.trans('couchpotato.requestthismovie') }}" />
			</div>
			{% else %}
			<div class="col-lg-12">
				<input class="form-control" placeholder="{{ app.translator.trans('couchpotato.searchmovie') }}" id="filter" name="search" />
			</div>	
			{% endif %}
		</div>
	</form>
</div>
<div class="filter_list">
{% if data['movies'] is defined %}
{% for movie in data['movies'] %}
<div class="bs-docs-section">
<div class="row" id="{{ movie.identifiers.imdb }}">
	<div class="col-lg-2 text-center">
		{% if movie['info']['images']['poster'][0] is defined %}
		<img src="{{ movie['info']['images']['poster'][0] }}" class="center-block img-responsive text-center" alt="{{ movie.title }}" />
		{% endif %}
	</div>
	<div class="col-lg-10">
			<h2 style="display: inline-block;">{{ movie.title }}</h2>
			<div style="display: inline-block; float: right;">Note : <a class="text-right" href="http://www.imdb.com/title/{{ movie.info.imdb }}/" target="_blank">{{ movie['info']['rating']['imdb'][0]|default('NA') }}</a></div>
			<p class="text-justify">{{ movie['info']['plot'] }}</p>
	</div>
</div>
</div>
{% endfor %}
{% endif %}
</div>
</div>
{% endblock %}
