{% extends "layout.twig" %}

{%  block content %}

<div class="container widgets">
<h2>{{ app.translator.trans('site.last') }}</h2>
<hr />
{% if dbconf.notice is defined and dbconf.notice is not empty %}
<div class="alert alert-info">{{ dbconf.notice }}</div>
{% endif %}
{% for widget in widgets %}
<h2>{{ widget.name }}</h2>
<div class="row">
	{% for data in widget.widget %}
	<div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 widget_index">
		<a href="{{ data.link }}#{{ data.id }}"><img src="{{ data.img }}" alt="{{ data.title }}" class="img-responsive" title="{{ data.title }}" /></a>
	</div>
	{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}
